﻿@using BenefitsExpert.Features
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization

@{
    var user = Html.GetCurrentUser();
    var userEmail = "";
    if (user != null)
    {
        userEmail = user.Email;
    }

    var SerializerSettings = new JsonSerializerSettings
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
        DateTimeZoneHandling = DateTimeZoneHandling.Utc
    };
}

<!DOCTYPE html>

<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width"/>
    <title>@Page.Title</title>
    @RenderSection("head", false)
</head>
<body>
    <div id="header">
        <div class="container">
            <a id="brand" href="/" class="seven columns">
                <div id="logo" class="u-pull-left">
                    <img src="/Assets/images/logo.png" />
                </div>
                <h1>Benefits Expert</h1>
            </a>
            <div id="user-image" class="one column">
                <img src="@Html.GetUserImageUri(userEmail, 50)" />
            </div>
            <div id="user-name" class="four columns">
                @userEmail
            </div>
        </div>
    </div>
    <div id="content">
        <div style="padding-top: 2em;" class="container">
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript">
        window.global_data = window.global_data || {};
        window.global_data.user = @Html.Raw(JsonConvert.SerializeObject(user, SerializerSettings));
        window.global_data.model = @Html.Raw(JsonConvert.SerializeObject(Model, SerializerSettings));
    </script>

    @if (Html.IsDebug())
    {
        <script src="http://localhost:3000/build/app.js"></script>
    }
    else
    {
        <link href="/Assets/js/react-app/public/build/app.css" rel="stylesheet">
        <script src="/Assets/js/react-app/public/build/vendor.js"></script>
        <script src="/Assets/js/react-app/public/build/app.js"></script>
    }
</body>
</html>
