﻿body {
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Merriweather', serif;
}

blockquote {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
}

h5 {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    font-family: 'Roboto Condensed', sans-serif;
}

input[type="button"] {
    font-family: 'Roboto Condensed', sans-serif;
}

#nav ul li {
    display: inline;
    margin: 0 20px 0 0;
}

#nav a {
    text-decoration: none;
}

    #nav a:hover {
        text-decoration: underline;
    }

#logo img {
    height: 50px;
    padding: 5px;
}

#user-name {
    font-weight: bold;
    font-size: medium;
    padding-top: 20px;
}

#user-image {
    padding-top: 10px;
}

    #user-image img {
        width: 50px;
        height: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        -webkit-filter: grayscale(85%); /* Chrome, Safari, Opera */
        filter: grayscale(85%);
    }

#header {
    padding-top: 15px;
}

#content {
    border-top: 1px solid #eeeeee;
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    color: #FFF;
    background-color: #3366FF;
    border-color: #123AB2;
}

    .button.button-primary:hover,
    button.button-primary:hover,
    input[type="submit"].button-primary:hover,
    input[type="reset"].button-primary:hover,
    input[type="button"].button-primary:hover,
    .button.button-primary:focus,
    button.button-primary:focus,
    input[type="submit"].button-primary:focus,
    input[type="reset"].button-primary:focus,
    input[type="button"].button-primary:focus {
        color: #FFF;
        background-color: #4488FF;
        border-color: #123AB2;
    }

.jsonTable {
    width: 100%;
    box-sizing: border-box;
}

#brand, #brand:hover, #brand:focus, #brand:visited {
    color: rgb(34, 34, 34);
    text-decoration: none;
}

h4.legend {
    border-bottom: 1px solid #eeeeee;
}

.employee-name-title {
    height: 100px;
}
.employee-photo img {
    border: 1px solid #666;
    -moz-box-shadow: 3px 3px 6px 1px #aaaaaa;
    -webkit-box-shadow: 3px 3px 6px 1px #aaaaaa;
    box-shadow: 3px 3px 6px 1px #aaaaaa;
    -webkit-filter: grayscale(55%); /* Chrome, Safari, Opera */
    filter: grayscale(55%);
}

.vertical-align {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.section {
    padding-bottom: 2em;
}

.hidden {
    display: none;
}

.error-message {
    font-size: smaller;
    color: #FF714C;
}

.input-error-highlight {
    border-color: #FF714C !important;
}
